{% extends 'lab/shared/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row my-5">
    <div class="col-md-6 offset-3 my-5 p-5 shadow bg-light text-center">
      <h1>Reply</h1>
      <hr>
      <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <div class="form-group">
                <button type="reset" class="btn btn-primary btn-secondary">Reset</button>
                <button type="submit" class="btn btn-primary btn-block">Send</button>
            </div>
      </form>
    </div>
</div>
{% endblock content %}
    